In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_excel('decision_tree_case.xlsx')
df.head()

   ID GENDER   TYPE AREA result
0   1      M  seden    A      N
1   2      M  Sport    B      N
2   3      M  Sport    B      N
3   4      M  Sport    C      N
4   5      M  Sport    D      N

In [11]:
df.set_index('ID', inplace = True)
df.head()

   GENDER   TYPE AREA result
ID
1       M  seden    A      N
2       M  Sport    B      N
3       M  Sport    B      N
4       M  Sport    C      N
5       M  Sport    D      N

In [12]:
df['buy'] = df.result.map({'N': 0, 'Y':1})
df

   GENDER    TYPE AREA result  buy
ID
1       M   seden    A      N    0
2       M   Sport    B      N    0
3       M   Sport    B      N    0
4       M   Sport    C      N    0
5       M   Sport    D      N    0
6       M   Sport    D      N    0
7       F   Sport    A      N    0
8       F   Sport    A      N    0
9       F   Sport    B      N    0
10      F  luxury    C      Y    1
11      M   seden    C      Y    1
12      M   seden    D      Y    1
13      M   seden    B      Y    1
14      M  luxury    D      Y    1
15      F  luxury    A      Y    1
16      F  luxury    A      Y    1
17      F  luxury    B      Y    1
18      F  luxury    B      Y    1
19      F  luxury    B      Y    1
20      F  luxury    C      Y    1

In [36]:
#男性會買車的數量
df[(df.GENDER == 'M')]['buy'].sum()

4

In [43]:
#男性總人數
df[(df.GENDER == 'M')].GENDER.count()

10

In [44]:
#男性會買車的比例
P1 = df[(df.GENDER == 'M')]['buy'].sum()/df[(df.GENDER == 'M')].GENDER.count()
P1

0.4

In [45]:
#女性會買車的數量
df[(df.GENDER == 'F')]['buy'].sum()

7

In [46]:
#女性總人數
df[(df.GENDER == 'F')].GENDER.count()

10

In [47]:
#女性會買車的比例
P2 = df[(df.GENDER == 'F')]['buy'].sum()/df[(df.GENDER == 'F')].GENDER.count()
P2

0.7

In [58]:
#以GENDER為分支, information gain as below:
Info_M = -P1*np.log2(P1)-(1-P1)*np.log2(1-P1)
# print(Info_M)
Info_F = -P2*np.log2(P2)-(1-P2)*np.log2(1-P2)
# print(Info_F)
Gain_GENDER = 1 - (0.5*Info_M + 0.5*Info_F)
print('Gain_GENDER:', Gain_GENDER)

Gain_GENDER: 0.07387925315731936

In [63]:
#seden車款車主會買車的數量
df[(df.TYPE == 'seden')]['buy'].sum()

3

In [64]:
#seden車主總人數
df[(df.TYPE == 'seden')].TYPE.count()

4

In [65]:
#seden車主會買車的比例
P3 = df[(df.TYPE == 'seden')]['buy'].sum()/df[(df.TYPE == 'seden')].TYPE.count()
P3

0.75

In [66]:
#Sport車款車主會買車的數量
df[(df.TYPE == 'Sport')]['buy'].sum()

0

In [67]:
#Sport車主總人數
df[(df.TYPE == 'Sport')].TYPE.count()

8

In [68]:
#Sport車主會買車的比例
P4 = df[(df.TYPE == 'Sport')]['buy'].sum()/df[(df.TYPE == 'Sport')].TYPE.count()
P4

0.0

In [69]:
#luxury車款車主會買車的數量
df[(df.TYPE == 'luxury')]['buy'].sum()

8

In [70]:
#luxury車主總人數
df[(df.TYPE == 'luxury')].TYPE.count()

8

In [71]:
#luxury車主會買車的比例
P5 = df[(df.TYPE == 'luxury')]['buy'].sum()/df[(df.TYPE == 'luxury')].TYPE.count()
P5

1.0

In [77]:
#以TYPE為分支, information gain as below:
Info_seden = -P3*np.log2(P3)-(1-P3)*np.log2(1-P3)
# print(Info_seden)
Info_Sport = -P4*(np.where(P4<=0, 1, np.log2(P4)))-(1-P4)*(np.where((1-P4)<=0, 1, np.log2(1-P4)))
# print(Info_Sport)
Info_luxury = -P5*(np.where(P5<=0, 1, np.log2(P5)))-(1-P5)*(np.where((1-P5)<=0, 1, np.log2(1-P5)))
# print(Info_luxury)
Gain_TYPE = 1 - (0.2*Info_seden + 0.4*Info_Sport + 0.4*Info_luxury)
print('Gain_TYPE:', Gain_TYPE)

Gain_TYPE: 0.8377443751081735

C:\Users\USER\AppData\Local\Temp\ipykernel_8560\3623322938.py:4: RuntimeWarning: divide by zero encountered in log2
  Info_Sport = -P4*(np.where(P4<=0, 1, np.log2(P4)))-(1-P4)*(np.where((1-P4)<=0, 1, np.log2(1-P4)))
C:\Users\USER\AppData\Local\Temp\ipykernel_8560\3623322938.py:6: RuntimeWarning: divide by zero encountered in log2
  Info_luxury = -P5*(np.where(P5<=0, 1, np.log2(P5)))-(1-P5)*(np.where((1-P5)<=0, 1, np.log2(1-P5)))

In [78]:
#A區車主會買車的比例
P6 = df[(df.AREA == 'A')]['buy'].sum()/df[(df.AREA == 'A')].AREA.count()
P6

0.4

In [79]:
#B區車主會買車的比例
P7 = df[(df.AREA == 'B')]['buy'].sum()/df[(df.AREA == 'B')].AREA.count()
P7

0.5714285714285714

In [80]:
#C區車主會買車的比例
P8 = df[(df.AREA == 'C')]['buy'].sum()/df[(df.AREA == 'C')].AREA.count()
P8

0.75

In [81]:
#D區車主會買車的比例
P9 = df[(df.AREA == 'D')]['buy'].sum()/df[(df.AREA == 'D')].AREA.count()
P9

0.5

In [82]:
#以AREA為分支, information gain as below:
Info_A = -P6*np.log2(P6)-(1-P6)*np.log2(1-P6)
# print(Info_seden)
Info_B = -P7*(np.where(P7<=0, 1, np.log2(P7)))-(1-P7)*(np.where((1-P7)<=0, 1, np.log2(1-P7)))
# print(Info_Sport)
Info_C = -P8*(np.where(P8<=0, 1, np.log2(P8)))-(1-P8)*(np.where((1-P8)<=0, 1, np.log2(1-P8)))
# print(Info_luxury)
Info_D = -P9*(np.where(P9<=0, 1, np.log2(P9)))-(1-P9)*(np.where((1-P9)<=0, 1, np.log2(1-P9)))

In [83]:
Gain_AREA = 1 - (0.25*Info_A + 7/20*Info_B + 0.2*Info_C +  0.2*Info_D)
print('Gain_AREA:', Gain_AREA)

Gain_AREA: 0.050176878882518317

In [84]:
# AVERAGE informaiton_GAIN 
np.average([Gain_AREA, Gain_TYPE, Gain_GENDER])

0.320600169049337

In [ ]:
# 結論:
1. 以 TYPE 的 information gain 最大, 故應以TYPE作為分枝變數