In [2]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_excel('decision_6-2.xlsx')
df

    ID 駝背 年齡 身高 性別
0    1  Y  Y  Y  M
1    2  N  N  Y  M
2    3  N  Y  N  F
3    4  N  N  N  F
4    5  N  Y  N  M
5    6  Y  Y  N  F
6    7  N  N  N  M
7    8  N  N  N  F
8    9  Y  N  Y  M
9   10  N  N  N  F
10  11  N  N  N  M
11  12  N  Y  N  F
12  13  N  Y  N  F
13  14  N  N  N  F
14  15  N  N  N  M
15  16  Y  Y  Y  M
16  17  Y  Y  N  M
17  18  N  N  N  M
18  19  N  Y  N  F
19  20  N  Y  N  F

In [5]:
# 駝背總數
df[(df.駝背 == 'Y')].駝背.count()

5

In [7]:
# 駝背機率
P = df[(df.駝背 == 'Y')].駝背.count() / df.駝背.count()
P

0.25

In [10]:
# 駝背的資訊總量
Info = -P*np.log2(P)-(1-P)*np.log2(1-P)
Info

0.8112781244591328

In [21]:
# 年齡 >50 的總數量
df[(df.年齡 == 'Y')]['年齡'].count()

10

In [22]:
# 年齡 >50 & 駝背 的數量
df[(df.年齡 == 'Y') & (df.駝背 == 'Y')].年齡.count()

4

In [24]:
# 年齡 >50 & 駝背 的比率
P_age_large = df[(df.年齡 == 'Y') & (df.駝背 == 'Y')].年齡.count()/df[(df.年齡 == 'Y')]['年齡'].count()
P_age_large

0.4

In [29]:
# 年齡 > 50 資訊和
Info_large = -P_age_large*np.log2(P_age_large)-(1-P_age_large)*np.log2(1-P_age_large)
Info_large

0.9709505944546686

In [25]:
# 年齡 < 50 的總數量
df[(df.年齡 == 'N')]['年齡'].count()

10

In [26]:
# 年齡 < 50 & 駝背 的數量
df[(df.年齡 == 'N') & (df.駝背 == 'Y')].年齡.count()

1

In [27]:
# 年齡 < 50 & 駝背 的比率
P_age_small = df[(df.年齡 == 'N') & (df.駝背 == 'Y')].年齡.count()/df[(df.年齡 == 'Y')]['年齡'].count()
P_age_small

0.1

In [30]:
# 年齡 < 50 資訊和
Info_small = -P_age_small*np.log2(P_age_small)-(1-P_age_small)*np.log2(1-P_age_small)
Info_small

0.4689955935892812

In [31]:
# 經年齡修正後的資訊總和
Info_age = df[(df.年齡 == 'Y')]['年齡'].count()/20*Info_large + df[(df.年齡 == 'N')]['年齡'].count()/20*Info_small
Info_age

0.7199730940219748

In [32]:
# 年齡帶來的 information gain
Gain_age = 1- Info_age
Gain_age

0.28002690597802515